**/.eslintrc
**/.eslintignore
**/.parcel-cache
**/src
coverage
public
docs
scripts
tsconfig.json
tsconfig.build.json
tslint.json
vitest.config.ts
.vscode
.github
.editorconfig
.nvmrc
.prettierrc
.travis.yml